html {
    margin: 0;
    scroll-padding-top: 90px;
    user-select: none;
    color: #f0eff4;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    background-color: transparent;
    background-image: linear-gradient(rgb(0, 0, 0, 0.5)), url("../images/bgHome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: transparent;
    background: linear-gradient(180deg, #f0eff4, #8c223d);
    background-size: 200% 200%;
    background-clip: text;
    animation: gradientShift 5s linear infinite;
    font-size: 80px;
}

h2 {
    color: transparent;
    background: linear-gradient(180deg, #f0eff4, #8c223d);
    background-size: 200% 200%;
    background-clip: text;
    animation: gradientShift 5s linear infinite;
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

p {
    margin: 10px 0;
    color: #797979;
    font-size: 20px;
}

/* For nav bar */
.navigation {
    top: 0px;
    z-index: 9999;
    position: fixed;
    background-color: #020202;
    width: 100%;
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        position: relative;
        font-size: 20px;
        padding: 20px 100px;
        text-decoration: none;
        color: #f0eff4;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 0%;
        height: 4px;
        background-color: #8c223d;
        transition: width 500ms ease;
    }

    a:hover {
        color: #8c223d;
    }

    a:hover::after {
        width: 100%;
    }
}


/* For main section */
.mainWrapper {
    h1 {
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .main {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;

        .mainLeft {
            width: 350px;
            object-fit: cover;
            border-radius: 50%;
            border: 10px solid #f0eff4;
        }
    }

    .mediaWrapper {
        display: flex;
        justify-content: center;

        .media {
            background-color: #020202;
            padding: 10px;
            margin: 20px;
            align-items: center;
            border-radius: 15px;
            border: solid #f0eff4;
            cursor: pointer;

            img {
                filter: invert();
                width: 50px;
                display: block;
            }
        }

        .media:hover {
            animation: shake 0.5s;
        }
    }

    p {
        color: #f0eff4;
        font-size: 30px;
        text-shadow: 15px 15px 10px black;
    }
}

.wrapper {
    max-width: 65%;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    justify-content: center;
    background-color: rgba(2, 2, 2, 0.85);
}

.about {
    max-width: 80%;
    padding-top: 10px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 40px;

    .aboutContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 50px;
        margin: 0 auto;
        justify-content: center;

        .aboutLeft {
            max-width: 50%;
            text-align: left;
        }

        .aboutRight {
            img {
                width: 300px;
                object-fit: cover;
                border: 5px solid #f0eff4;
            }
        }
    }
}

.mySkills {
    overflow: hidden;
    position: relative;
    padding-top: 100px;
    text-align: center;

    h2 {
        margin-bottom: -10px;
    }

    p {
        margin-bottom: 50px;
    }

    .slider {
        width: 80%;
        height: var(--height);
        mask-image: linear-gradient(to right, transparent, #020202, transparent);
        position: relative;
        margin: 0 auto;

        .skillsList {
            position: relative;
            display: flex;
            width: 100%;
            min-width: calc(var(--quantity) * var(--width));

            .item {
                width: var(--width);
                height: var(--height);
                position: absolute;
                right: 100%;
                animation: autoRun 10s linear infinite;
                animation-delay: calc((20s) / var(--quantity) * var(--position));

                img {
                    width: 75px;
                    height: 75px;
                    align-items: center;
                }
            }
        }
    }
    .slider:hover .item {
        animation-play-state: paused !important;
    }

}

@keyframes autoRun {
    from {
        right: 100%;
    }

    to {
        right: calc(var(--width) * -1);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-5px);
    }

    40% {
        transform: translateX(5px);
    }

    60% {
        transform: translateX(-5px);
    }

    80% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

/* For portfolio section */
.portfolio {
    padding-top: 100px;
    text-align: center;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 100px;

    h2 {
        margin-bottom: -10px;
    }

    p {
        margin-bottom: 50px;
    }

    .projects {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 75px;

        .projectCard {
            padding: 15px;
            width: 300px;
            background-color: #181818;

            img {
                width: 300px;
                display: flex;
            }

            button {
                cursor: pointer;
                margin-top: 10px;
                padding: 20px;
                font-weight: bold;
                font-family: inherit;
                color: #f0eff4;
                background-color: #616161;
                border: 0px;
            }

            button:hover {
                animation: shake 0.5s;
            }
        }
    }
}

/* For contact */
.contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
    padding: 5px 0;
    margin-top: 10px;
    background-color: #020202;

    p {
        font-size: 15px;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .contactElement {
        flex: 1;
        max-width: 20%;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        min-width: max-content;

        img {
            filter: invert();
            width: 30px;
            padding-bottom: 10px;
        }
    }
}

/* For different media */
@media (max-width: 1000px) {
    p {
        font-size: 20px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 25px;
    }

    .navigation {
        height: auto;
        flex-wrap: wrap;

    }

    .navigation a {
        padding: 10px 50px;
        font-size: 20px;
        text-align: center;
    }

    .mainWrapper {
        height: 100vh;
        padding-top: 80px;

        .main {
            flex-direction: column;
            text-align: center;

            .mainRight {
                margin-top: 0;

                h1 {
                    font-size: 45px;
                    margin: 10px
                }
            }

        }
    }

    .wrapper {
        max-width: 90%;
    }

    .about {
        max-width: 95%;

        .aboutContainer {
            .aboutLeft {
                margin: 0;
                max-width: 1000%;
                text-align: center;
            }
        }
    }

    .portfolio {
        .projectCard {
            width: 80% !important;
            max-width: 600px;
            padding: 20px;
            box-sizing: border-box;

            img {
                width: 100% !important;
                height: auto;
                object-fit: contain;
            }

            p {
                font-size: 20px;
            }

            button {
                width: 100%;
                padding: 15px;
            }
        }
    }

    .contact {
        flex-direction: column;
        align-items: center;
        gap: 0px;

        .contactElement {
            font-size: 20px !important;

            img {
                width: 30px;
            }
        }
    }
}

[data-aos="fade-up"] {
    opacity: 0;
    filter: blur(15px);
}

[data-aos="fade-up"].aos-animate {
    opacity: 1;
    filter: blur(0px);
}