html {
    max-width: 65%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

h1 {
    background-color: black;
    text-align: center;
    color: white;
}


/*For profile section */
.profile {
    display: flex;
    border: 2px solid black;
}

.profile p {
    font-size: small
}

.profile strong {
    font-size: larger;
}

.profileRight {
    margin-left: auto;
    padding: 10px;
}

.profileLeft {
    padding: 10px;
}


.box {
    border: 2px solid black;
    border-radius: 10px;
    display: inline-flex;
    padding: 10px;
}

/*For about me*/
.aboutMe h2:hover {
    color: rgb(37, 198, 198);   /* change this to any color */
    cursor: pointer;
    background-color: white; /* optional, makes it look clickable */
}


/*For projects section */
.personalProjects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.projects {
    flex: 1;
    border: 2px solid black;
    border-radius: 10px;
}

.projects h2 {
    text-align: center;
}

.projects p {
    padding: 10px;
}

/*For contact section */
.contact {
    display: flex;
}

.contactSection {
    flex: 1
}

form input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-family: inherit;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
}

form textarea {
    width: 100%;
    height: 200px;
    padding: 11px;
    font-family: inherit;
    border: 2px solid black;
    border-radius: 10px;
}

/* Hide white color background */
.hideBackground {
    mix-blend-mode: multiply;
}
