html {
    margin: 0;
    scroll-padding-top: 90px;
    user-select: none;
    color: #f0eff4;
    height: 100%;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(rgb(0, 0, 0, 0.5)), url("../images/bgHome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-height: 100dvh;
}

body {
    margin: 0;
    background-color: transparent;
}

.fadeUp {
    animation: fadeUp both;
    animation-timeline: view();
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(20px) scale(1);
    }

    60% {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0) scale(1);
    }

    90% {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0) scale(1);
    }

    100% {
        opacity: 1;
        filter: blur(20px);
        transform: translateX(-20px) scale(1);
    }
}

h1 {
    color: transparent;
    background: linear-gradient(180deg, #11dbff, #8c223d);
    background-size: 200% 200%;
    background-clip: text;
    animation: gradientShift 5s linear infinite;
    font-size: 80px;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h2 {
    color: #ffffff;
    /* MUST be solid */
    mix-blend-mode: difference;
    /* try: overlay | difference */
    position: relative;
    z-index: 2;
}

p {
    margin: 10px 0;
    color: #797979;
    font-size: 17px;
}

/* For nav bar */
.navigation {
    top: 0px;
    z-index: 9999;
    position: fixed;
    background-color: #020202;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        position: relative;
        font-size: 20px;
        padding: 20px 100px;
        text-decoration: none;
        color: #f0eff4;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 0%;
        height: 4px;
        background-color: #8c223d;
        transition: width 500ms ease;
    }

    a:hover {
        color: #8c223d;
    }

    a:hover::after {
        width: 100%;
    }
}

.wrapper {
    max-width: 65%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    background-color: rgba(2, 2, 2, 0.85);
    ;
}

/* For main section */
.mainWrapper {
    min-height: 50vh;
    padding: 210px;

    h1 {
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;

        .mainLeft {
            margin: 0px 50px;
            width: 350px;
            object-fit: cover;
            border-radius: 50%;
            border: 10px solid #f0eff4;
        }
    }

    .mainRight {
        margin: 0px 50px;
    }

    .mediaWrapper {
        display: flex;
        margin-top: 75px;
        justify-content: center;

        .media {
            background-color: #020202;
            padding: 10px;
            margin: 20px;
            align-items: center;
            border-radius: 15px;
            border: solid #f0eff4;
            cursor: pointer;

            img {
                filter: invert();
                width: 50px;
                display: block;
            }
        }

        .media:hover {
            animation: shake 0.5s;
        }
    }

    p {
        color: #f0eff4;
        font-size: 30px;
        text-shadow: 15px 15px 10px black;
    }
}

.about {
    max-width: 65%;
    padding-top: 10px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 40px;

    .aboutContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 50px;
        margin: 0 auto;
        justify-content: center;

        .aboutLeft {
            max-width: 50%;
            text-align: left;
        }

        .aboutRight {
            justify-content: center;

            img {
                margin: 0px 50px;
                width: 200px;
                object-fit: cover;
                border: 5px solid #f0eff4;
            }
        }
    }
}

.about::after {
    content: "";
    position: absolute;
    bottom: -25px;
    width: 300px;
    height: 2px;
    background-color: #f0eff4;
    transform: translateX(-50%);
}

.mySkills {
    position: relative;
    padding-top: 50px;
    text-align: center;

    h2 {
        margin-bottom: -10px;
    }

    p {
        margin-bottom: 50px;
    }

    .skills {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 0 auto;
        flex-wrap: wrap;

        .skillsLeft {
            margin-top: 100px;
            margin-bottom: -100px;
            display: flex;
            gap: 75px;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0;

            button {
                background-color: transparent;
                color: #f0eff4;
                font-family: inherit;
                font-size: inherit;
                border: 2px solid #f0eff4;
                border-radius: 15px;
                height: 50px;
                width: 200px;
                cursor: pointer;
            }

            button:hover {
                animation: shake 0.5s;
            }

            .skillItem.active {
                background: transparent;
                animation: pulseGlow 5s ease-in-out infinite;
                background-size: 200% 200%;
                margin-top: -30px;
            }
        }

        .skillsRight {
            margin: 0 auto;
            width: 65%;
            overflow: hidden;

            .iconTrack {
                display: flex;
                width: max-content;
                will-change: transform;
                animation: spin 10s linear infinite;
            }

            .iconSet {
                display: flex;
                flex-wrap: nowrap;
                flex-shrink: 0;
            }

            .iconCard {
                margin: 0px;
                flex: 0 0 120px;
                text-align: center;
                justify-content: center;
                padding: 10px 30px;

                img {
                    width: 60px;
                    height: 60px;
                }
            }
        }

        .skillsRight::-webkit-scrollbar {
            display: none;
            color: #8c223d
        }
    }
}

@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 20px 1px rgba(140, 34, 61, 0.1);
    }

    50% {
        box-shadow: 0 0 20px 5px rgba(140, 34, 61, 1);
    }

    100% {
        box-shadow: 0 0 20px 1px rgba(140, 34, 61, 0.1);
    }
}

@keyframes spin {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-5px);
    }

    40% {
        transform: translateX(5px);
    }

    60% {
        transform: translateX(-5px);
    }

    80% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

.mySkills::after {
    content: "";
    position: absolute;
    bottom: -60px;
    width: 300px;
    height: 2px;
    background-color: #f0eff4;
    transform: translateX(-50%);
}


/* For portfolio section */
.portfolio {
    padding-top: 50px;
    text-align: center;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 100px;

    h2 {
        margin-bottom: -10px;
    }

    p {
        margin-bottom: 50px;
    }

    .projects {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 75px;

        .projectCard {
            padding: 15px;
            width: 300px;
            background-color: #181818;

            img {
                width: 300px;
                display: flex;
            }

            button {
                cursor: pointer;
                margin-top: 10px;
                padding: 20px;
                font-weight: bold;
                font-family: inherit;
                color: #f0eff4;
                background-color: #616161;
                border: 0px;
            }

            button:hover {
                animation: shake 0.5s;
            }
        }
    }
}

/* For contact */
.contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
    padding: 5px 0;
    margin-top: 10px;
    background-color: #020202;

    p {
        font-size: 15px;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .contactElement {
        flex: 1;
        max-width: 20%;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        min-width: max-content;
        img {
            filter: invert();
            width: 30px;
            padding-bottom: 10px;
        }
    }
}

/* For different media */
@media (max-width: 1400px) {

    /* html {
        p {
            font-size: 14px;
        }
        h2 {
            font-size: 20px;
        }
    } */
    .mainWrapper {
        min-height: 30px;
    }

    .navigation a {
        font-size: 18px;
        padding: 15px 50px;
    }

    .main {
        flex-direction: column;
        gap: 60px;
        text-align: center;

        .mainLeft {
            width: 250px;
        }

        .mainRight {
            margin-left: 0px;
        }

    }

    .about {
        .aboutContainer {
            .aboutLeft {
                max-width: 90%;
                text-align: center;
            }
        }

    }

    .mySkills {
        .skills {
            flex-direction: column;

            .skillsLeft {
                flex-direction: row;

                button {
                    margin: -10px 0;
                    height: 35px;
                    width: 180px;
                    font-size: 18px;
                }
            }
        }
    }

    .contact {
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .contactElement {
            p {
                font-size: 11px;
                word-break: break-all;
                white-space: normal;
            }

            img {
                width: 30px;
            }
        }
    }
}