html {
    background-color: #604D43;
}


.pageContainer {
    background-color: #FFFBF1;
    color: #604D43;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 65%;
    user-select: none;
}

h1 {
    text-align: center;
    color: #FFFBF1;
}

h2, h3, h4, h5, h6 {
    color: darkcyan;
    display: inline-block;
    margin-bottom: -20px;
}

/*For profile section */
.profile {
    display: flex;
}

.profile h2 {
    margin-top: -20px;
    margin-bottom: -20px;
}

.profile strong {
    font-size: 25px;
}

.profileLeft {
    padding: 10px;
}

.profileLeft img {
    width: 100px;
    border-radius: 10px;
}

.profileRight {
    padding: 10px;
    margin-left: auto;
}

.profileRight img {
    width: 50px;
}

.socialMediaBox {
    display: inline-block;
    background-color: #BCA99F;
    padding: 5px;
    padding-bottom: auto;
}

.socialMediaBox:hover {
    background-color: darkcyan;
    transition: 1s;
}

/*For projects section */
.personalProjects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.projects {
    flex: 1;
}

.projects h2 {
    margin: 10px;
}

.projects p {
    padding: 10px;
}

/*For contact section */
.contact {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 15px;
    font-family: inherit;
}

input::placeholder {
    text-align: center;
}

input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
}

textarea {
    display: flex;
    width: 100%;
    height: 200px;
    font-size: 15px;
    font-family: inherit;
    justify-content: center;
}

textarea::placeholder {
    text-align: center;
}

.labelForUserInput {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;  /* center text vertically */
    width: 100%;
    height: 50px;
    color: #FFFBF1;
    font-size: inherit;
    font-family: inherit;
}

.infoRow {
    justify-content: center;
    margin-left: auto;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.infoRow img {
    width: 25px;
    height: 25px;
}

/* Hide white color background */
.hideBackground {
    mix-blend-mode: multiply;
}

.brownBorder {
    border: 2px inset #604D43;
    border-radius: 10px;
    padding: 10px;
}

.brownBgColor {
    background-color: #604D43;
}

.wheatBgColor {
    background-color: wheat;;
}

