html {
    margin:0;
    user-select: none;
    color: #f0eff4;
    background-color: #020202;
    height: 100%;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    color: transparent;
    background: linear-gradient(180deg , #11dbff, #8c223d);
    background-size: 200% 200%;
    background-clip: text;
    animation: gradientShift 5s linear infinite;
    font-size: 80px;
}

h2 {
    color: transparent;
    background: linear-gradient(180deg , #11dbff, #8c223d);
        background-size: 200% 200%;
    background-clip: text;
    animation: gradientShift 5s linear infinite;
    font-size: 40px;
}

h3 {
    margin: 5px 0;
    font-size: 25px;
}

p {
    margin: 10px 0;
    color: #797979;
    font-size: 17px;
}

.navigation {
    top: 0px;
    z-index: 9999;
    position: fixed;
    background-color:#020202;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation a {
    font-size: 20px;
    padding: 20px 100px;
    text-decoration: none;
    color: #f0eff4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navigation a{
    position: relative;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0%;
    height: 4px;
    background-color: #8c223d;
    transition: width 500ms ease;
}

.navigation a:hover {
    color: #8c223d;
}

.navigation a:hover::after {
    width: 100%;
}

.mainWrapper {
    min-height: 50vh;
    padding: 200px 0;
    background-image: linear-gradient(rgb(0, 0, 0, 0.5)), url("../images/bgHome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: linear-gradient(to bottom,
            transparent 7%,
            black 10%,
            black 95%,
            transparent 100%);
}

.main {
    display: flex;
    justify-self: center;
    align-items: center;
}

.mainRight p {
    color: #f0eff4;
    font-size: 30px;
    text-shadow: 15px 15px 10px black;
}

.mainLeft {
    width: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid #f0eff4;
}

.mainRight {
    margin-left: 100px;
}

.mainRight h1{
    margin-top: -10px;
    margin-bottom: -10px;
}

.about {
    text-align: center;
    margin: 10px 100px;
    background-color: #020202;
    z-index: 9999;
}

.skills {
    display: flex;
    gap: 75px;
    justify-content: center;
}

.skills img {
    width: 75px;
}

.skills img:hover {
    animation: shake 0.5s;
}

@keyframes shake {
    0%   { transform: translateX(0); }
    20%  { transform: translateX(-5px); }
    40%  { transform: translateX(5px); }
    60%  { transform: translateX(-5px); }
    80%  { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

.portfolio {
    text-align: center;
    align-items: center;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 75px;
}

.projectCard {
    padding: 15px;
    width: 300px;
    height: 430px;
    background-color: #181818;
}

.projectCard img {
    width: 300px;
    display: flex;
}

.projectCard button {
    padding: 20px;
    font-weight: bold;
    font-family: inherit;
    color: #f0eff4;
    background-color: #616161;
    border: 0px;
}

.contact {
    min-height: 100vh;
}

@media only screen and (max-width: 1400px) {
    .mainWrapper {
        min-height: 30px;
    }
    .main {
        flex-direction: column;
        gap: 60px;
        text-align: center;
    }

    .navigation a {
        font-size: 20px;
        padding: 15px 50px;
    }

    .mainLeft {
        width: 250px;
    }

    .mainRight {
        margin-left: 0px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 17px;
    }

    h2 {
        font-size: 30px;
    }

    .skills img {
        width: 50px;
    }
}

