html {
    margin: 0;
    scroll-padding-top: 90px;
    user-select: none;
    color: #f0eff4;
    background-color: #020202;
    height: 100%;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
}

.fadeUp {
    animation: fadeUp both;
    animation-timeline: view();
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(10px) scale(0.25);
    }

    40% {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0) scale(1);
    }

    70% {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0) scale(1);
    }

    100% {
        opacity: 1;
        filter: blur(10px);
        transform: translateX(-10px) scale(0.8);
    }
}

h1 {
    color: transparent;
    background: linear-gradient(180deg, #11dbff, #8c223d);
    background-size: 200% 200%;
    background-clip: text;
    animation: gradientShift 5s linear infinite;
    font-size: 80px;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h2 {
    color: transparent;
    background: linear-gradient(180deg, #11dbff, #8c223d);
    background-size: 200% 200%;
    background-clip: text;
    animation: gradientShift 5s linear infinite;
    font-size: 40px;
}

p {
    margin: 10px 0;
    color: #797979;
    font-size: 17px;
}

/* For nav bar */
.navigation {
    top: 0px;
    z-index: 9999;
    position: fixed;
    background-color: #020202;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        position: relative;
        font-size: 20px;
        padding: 20px 100px;
        text-decoration: none;
        color: #f0eff4;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 0%;
        height: 4px;
        background-color: #8c223d;
        transition: width 500ms ease;
    }

    a:hover {
        color: #8c223d;
    }

    a:hover::after {
        width: 100%;
    }
}

/* For main section */
.mainWrapper {
    min-height: 50vh;
    padding: 250px 0;
    background-image: linear-gradient(rgb(0, 0, 0, 0.5)), url("../images/bgHome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: linear-gradient(to bottom,
            transparent 7%,
            black 10%,
            black 95%,
            transparent 100%);

    h1 {
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;

        .mainLeft {
            margin: 0px 50px;
            width: 350px;
            object-fit: cover;
            border-radius: 50%;
            border: 10px solid #f0eff4;
        }
    }

    .mainRight {
        margin: 0px 50px;
    }

    .mediaWrapper {
        display: flex;
        margin-top: 100px;
        justify-content: center;

        .media {
            background-color: #020202;
            margin: 20px;
            align-items: center;
            border: solid #f0eff4;

            img {
                filter: invert();
                width: 75px;
                display: block;
            }
        }
    }

    p {
        color: #f0eff4;
        font-size: 30px;
        text-shadow: 15px 15px 10px black;
    }
}

.about {
    padding-top: 50px;
    text-align: center;
    z-index: 9999;

    .aboutContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        max-width: 65%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;

        .aboutLeft {
            align-items: center;
            max-width: 500px;
            text-align: left;

            p {
                display: block;
            }
        }

        .aboutRight {
            align-items: center;

            img {
                margin: 0px 50px;
                width: 200px;
                object-fit: cover;
                border: 5px solid #f0eff4;
            }
        }
    }

}

.mySkills {
    padding-top: 50px;
    text-align: center;

    h2 {
        margin-bottom: -10px;
    }

    p {
        margin-bottom: 50px;
    }

    .skills {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        max-width: 65%;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;

        button {
            background: linear-gradient(180deg, #11dbff, #8c223d);
            background-size: 200% 200%;
            animation: gradientShift 5s linear infinite;
            color: #f0eff4;
            font-family: inherit;
            font-size: 20px;
            border: solid #f0eff4;
            height: 125px;
            width: 125px;
            cursor: pointer;

        }

        button:hover {
            animation: shake 0.5s;
        }
    }
}



@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-5px);
    }

    40% {
        transform: translateX(5px);
    }

    60% {
        transform: translateX(-5px);
    }

    80% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

/* For portfolio section */
.portfolio {
    text-align: center;
    align-items: center;

    .projects {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 75px;

        .projectCard {
            padding: 15px;
            width: 300px;
            background-color: #181818;

            img {
                width: 300px;
                display: flex;
            }

            button {
                margin-top: 10px;
                padding: 20px;
                font-weight: bold;
                font-family: inherit;
                color: #f0eff4;
                background-color: #616161;
                border: 0px;
            }
        }
    }
}

/* For different media */
@media (max-width: 1400px) {
    .mainWrapper {
        min-height: 30px;
    }

    .navigation a {
        font-size: 18px;
        padding: 15px 50px;
    }

    .main {
        flex-direction: column;
        gap: 60px;
        text-align: center;

        .mainLeft {
            width: 250px;
        }

        .mainRight {
            margin-left: 0px;
        }

    }

    .about {
        .aboutContainer {
            .aboutLeft {
                text-align: center;
            }
        }

    }
}