html {
    background-color: #FFFBF1;
    color: #604D43;
    font-size: 15px;
    font-weight: normal; /* lighter, normal, bold */
    text-align: left; /*left, center, right*/;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 65%;
    user-select: none;
}

h1 {
    background-color: #604D43;
    text-align: center;
    color: #FFFBF1;
}

h2 {
    color: #222222;
    display: inline-block;
}

h2:hover {
    transition: 1s;
    color: darkcyan;   /* change this to any color */
}

/*For profile section */
.profile {
    background-color: FFFBF1;
    display: flex;
    border: 2px solid black;
}

.profile h2 {
    margin-top: -18px;
    margin-bottom: -18px;
}

.profile strong {
    font-size: 25px;
}

.profileLeft {
    padding: 10px;
}

.profileLeft img {
    width: 100px;
}

.profileRight {
    margin-left: auto;
    padding: 10px;
}

.profileRight img {
    width: 25px;
}

.socialMediaBox {
    background-color: #BCA99F;
    border: 2px solid #222222;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
}

.profile img {
    border-radius: 15px;
}

/*For projects section */
.personalProjects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.projects {
    flex: 1;
    border: 2px solid #222222;;
    border-radius: 10px;
}

.projects h2 {
    margin: 10px;
}

.projects p {
    padding: 10px;
}

/*For contact section */
.contact {
    display: flex;
}

.contactSection {
    flex: 1
}

form input {
    background-color: FFFBF1;
    width: 100%;
    height: 25px;
    padding: 10px;
    font-family: inherit;
    border: 2px solid #222222;;
    margin-bottom: 20px;
}

form textarea {
    background-color: FFFBF1;
    width: 100%;
    height: 200px;
    padding-left: 10px;
    font-family: inherit;
    border: 2px solid #222222;;
}

button {
    width: 100%;
    background-color: #222222;;
    color: FFFBF1;
}

.info-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.info-row img {
    width: 25px;
    height: 25px;
}

/* Hide white color background */
.hideBackground {
    mix-blend-mode: multiply;
}

